<head>
	<script type="text/x-mathjax-config"> 
   		MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); 
   	</script>
    <script type="text/x-mathjax-config">
    	MathJax.Hub.Config({tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
    </script>
    
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
    </script>
	
	
    	<script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/8.6.0/mermaid.min.js"></script>
	<script>
		var config = {
		  startOnLoad: true,
		  theme: "forest",
		  flowchart:{
		    useMaxWidth: true,
		    htmlLabels: true
		  }
		};
		mermaid.initialize(config);
		window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
	</script>
</head>
